nav
    position: fixed
    z-index: 2000
    top: 0


#profile_info_container
    margin: 80px 0 0 0
    padding-top: 5vh
    height: 100vh

#profile_picture
    border-radius: 2200px
    height: 275px
    width: 275px
    margin: 0 auto
    display: block

#user_name
    display: block
    text-align: center
    margin-top: -45px
    font-size: 3rem
    font-weight: bold


#rightHeaderContainer
    margin: 10px 0 135px 0

#searchContainer
    margin: 0 auto
    text-align: center
    font-size: 1.5rem
    font-weight: bold

#searchBox
    color: white
    height: 50px
    width: 525px
    text-align: center
    background-color: transparent
    border: 0
    border-bottom: 1px #1ed760 solid
    font-weight: bold

#searchBox::placeholder
    text-align: center
    font-size: 2rem

#searchBox:focus
    outline: none !important

#vertLine
    background-image: url(/../assets/images/vertLine.svg)
    width: 2px
    height: 12vh
    display: block
    margin: 0 auto
    margin-top: 5vh
    margin-bottom: 10px



#topArtistContainer
    height: 100vh

#savedTracksContainer
    min-width: 250px
    max-width: 260px
    min-height: 350px
    background-color: #2a2a2a
    border-radius: 4px
    display: inline-block
    margin: 10px 13px
    text-align: left
    position: relative
    box-shadow: 0px 0px 9px 1px #2a2a2a59
    display: inline-table
    
#savedTracksContainer:hover
    background-color: #343434
    cursor: pointer
    box-shadow: 0px 0px 50px 6px #000000

#artist_photo
    display: block
    margin: 35px auto
    width: 150px
    height: 150px
    border-radius: 100px
    background-color: white

#song_name
    margin-top: 48px
    margin-left: 5px
    text-align: left
    width: 100%
    display: block
    font-weight: bold
    font-size: 19px

#artist_name
    margin-top: 5px
    margin-left: 5px
    text-align: left
    width: 100%
    display: block
    font-size: 15px

#infoIcon
    width: 30px
    position: absolute
    bottom: 10px
    right: 10px
    display: none



#mpContainer
    max-width: 1200px
    margin: 0 auto
    margin-bottom: 100px
    height: 100vh

#mpsPhotoContainer
    padding: 0px
    margin: 10px 13px
    position: relative
    display: flex
    align-items: center

    img
        width: 500px
    h6
        font-size: 2.7rem
        font-weight: bold
        text-align: right
        background-color: black
        position: absolute
        right: 15px
        padding: 10px
        bottom: 200px
    h5
        font-size: 1.5rem
        font-weight: bold
        text-align: right
        margin-top: -5px
        position: absolute
        right: 15px
        background-color: black
        bottom: 148px
        padding: 10px

#mostPlayedSongTitle
    text-align: right
    font-weight: bold
    font-size: 3.5rem
    margin-bottom: 0px
    letter-spacing: 1.5px
    display: flex
    align-items: center

.sm_custom
    flex: 0 0 0%



#playlistContainer
    height: 100%
    margin-bottom: 100px

#playlist_data_container
    min-height: 100px
    background-color: #2a2a2a
    border-radius: 4px
    margin: 10px auto
    text-align: left
    position: relative
    box-shadow: 0px 0px 9px 1px #2a2a2a59
    display: block
    width: 40%
    padding: 15px 0
    
#playlist_data_container:hover
    background-color: #343434
    cursor: pointer
    box-shadow: 0px 0px 50px 6px #000000

#playlist_name
    margin-left: 22px
    text-align: left
    display: inline-block
    font-weight: bold
    font-size: 16px

#playlist_photo
    height: 100px
    position: absolute
    top: 0
    bottom: 0
    margin: auto
    right: 10px

#playlist_link_bttn
    color: white
    position: absolute
    bottom: 8px
    left: 21px
    border: solid 3px #23af55a6
    padding: 5px