<div *ngIf="isDataAvailable">
   <nav [userObj]="user"></nav>
   <span style="padding:50px;">
      <div id="profile_info_container">
         <img src="{{ user.user_photo_url }}" alt="profile_picture" id="profile_picture">
         <p id="user_name">{{ user.user_name }}</p>
         <div class="row" style="justify-content: center; padding-top: 30px; margin: 0; margin-left: -15px;">
            <div class="col-sm col-sm sm_custom">
               <span style="display: block; text-align: center; color: #1ed760; font-size: 17.5px;">7</span>
               <span style="font-weight: bold; font-size: 19px;">Followers</span>
            </div>
            <div class="col-sm col-sm sm_custom">
               <span style="display: block; text-align: center; color: #1ed760; font-size: 17.5px;">22</span>
               <span style="font-weight: bold; font-size: 19px;">Following</span>
            </div>
            <div class="col-sm col-sm sm_custom">
               <span style="display: block; text-align: center; color: #1ed760; font-size: 17.5px;">18</span>
               <span style="font-weight: bold; font-size: 19px;">Playlist</span>
            </div>
         </div>
      </div>
      <div id="topArtistContainer">
         <p style="font-weight: bold; font-size:2rem; margin-bottom:0px; letter-spacing:1.5px; margin-left: 60px;">Recently saved tracks: </p>
         <span id="" class="row" style="text-align: center;display: block;">
            <div *ngFor="let favSongs of user.favSongs" 
            id="savedTracksContainer" class="col-sm col-md">
               <img id="artist_photo" src="{{ favSongs.track.album.images[0].url }}"/>
               <span id="song_name">{{ favSongs.track.name }}</span>
               <span id="artist_name">{{ favSongs.track.artists[0].name }}</span> 
            </div>
         </span>   
      </div>
      <div id="mpContainer" class="row">
         <div id="mpsPhotoContainer" class="col-sm col-md">
            <img src="" alt="">
         </div>
         <div id="mostPlayedSongTitle" class="col-sm col-md">Most Played Song <br> Of 2021</div>
      </div>
   </span>
</div>
