#savedTracksContainer
    min-width: 250px
    max-width: 250px
    min-height: 250px
    background-color: #2a2a2a
    border-radius: 4px
    display: inline-block
    margin: 50px 10px
    text-align: left
    position: relative
    box-shadow: 0px 0px 9px 1px #2a2a2a59
