$secondary_grey: #5a5a5a


#headerContainer
    height: 80px
    width: 100vw
    background-color: $secondary_grey


.logo
    width: 50%
    height: 100%
    display: inline-block

    .logoImg
        width: 130px
        height: 100%
        padding: 0 65px


.loginContainer
    float: right
    padding: 0 65px
    height: 100%
    display: flex
    justify-content: center
    align-items: center
